body{
    background-color: #979fad;
}
.body
{
    width:100%;
    margin: 5% 0 8% 0;
    display: grid;
    justify-content: center;
}

.container{
    display:grid;
    width:100%;
    grid-template-rows: auto auto;
    justify-content: center;
}

.time{
    display:grid;
    grid-template-columns: 150px 150px 150px;
}

.containersection{
    background-color:#181818;
    margin:10%;
    color:white;
    font-family: 'Alfa Slab One', cursive;
    text-align: center;
    border-radius: 10px;
}

.alarm{
    margin: 10%;
}
.alarmpage{
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-columns: 90% 10%;
    background:rgba(255,255,255,0.5);
    transition: all 100ms linear;
    opacity: 0;
    font-family: 'Gentium Book Basic', serif;
    backdrop-filter: blur(1.5px);
    border-radius: 15px;
}
.alarmtext{
    padding:2%;
}
.alarmoff{
    align-content: center;
    align-self: centers;
    margin:10%;
    background-color: transparent;
    border: none;
    font-weight: bolder;
    transition: all 500ms linear;
}
.alarmoff:hover{
    transform: scale(1.1);
    font-size: 32px;
    cursor: pointer;
}
.alarmoff:focus{
    border: none;
    outline:none;
}

@media screen and (max-width:600px){
    .time{
        grid-template-columns: none;
        grid-template-rows: auto auto auto;
    
    }
    .body{
        margin: 20% 0 8% 0;
    }
    .containersection{
        min-width:100px;
    }
    .alarmpage{
        position: absolute;
        width:96%;
        top:5%;
    }
    .alarm{
        height:50%;
        min-width: 150px;
    }
    }